// Global Styles

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


// Variables

$sidebar-bg: #301B33;
$mails-bg: #F5F5FA;
$message-bg: #FFF;
$searchbar-bg: #EBEBF6;
$searchbar-text-color: #E0E1EF;
$red: #F70046;
$yellow: #FFCD52;
$light-yellow: #CA9D4A;
$green: #00CD6E;
$blue: #2A53FF;
$white: #FFF;
$black: #000;
$sidebar-text-color: #A591B2;

// Utility classes

.text-center {
    text-align: center;
}

.text-red {
    color: $red !important;
}

.text-yellow {
    color: $yellow !important;
}

.text-green {
    color: $green !important;
}

.text-blue {
    color: $blue !important;
}

.bg-red {
    background-color: $red !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.bg-green {
    background-color: $green !important;
}

.bg-blue {
    background-color: $blue !important;
}

.bg-white {
    background-color: $white !important;
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.hidden {
    display: none;
}
.w-100 {
    width: 100% !important;
}

body {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 560px 1fr;
    height: 100vh;
}

// Sidebar

.sidebar {
    background-color: $sidebar-bg;
    padding: 35px 25px;
    position: relative;
    height: 100vh;
    position: fixed;
    width: 200px;


    // compose btn

    .btn-compose {
        background-color: $red;
        color: #fff;
        width: 100%;
        display: block;
        padding: 15px 0;
        border-radius: 5px;
        margin-bottom: 45px;
        transition: background 0.3s;

        &:hover {
            background: darken($red, 10%);
        }

        .icon {
            color: #fff;
        }
    }

    // Primary Navigation

    .primary-navigation {
        a:hover {
            color: $yellow;

            .icon {
                color: $yellow;
            }
        }
    }

    // Secondary Navigation

    .secondary-navigation {
        a:hover {
            color: $yellow;
        }
    }

    .nav-title {
        color: #5A4761;
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .navigation ul li {
        margin-bottom: 15px;
    }

    .icon {
        margin-right: 10px;
    }

    .navigation .number {
        float: right;
    }
    
    a, .icon {
        color: $sidebar-text-color;
        font-size: 1.4rem;
    }

    li.active {
        a, .icon {
            color: $yellow;
        }

        .number {
            background: #583F3B;
        }
    }

    .navigation .primary-navigation {
        margin-bottom: 45px;
    }

    // Settings

    .settings {
        position: absolute;
        bottom: 35px;

        a:hover {
            color: $yellow;
            .icon {
                color: $yellow;
            }

            .number {
                background: #583F3B;
            }
        }
    }

    .number {
        width: 35px;
        text-align: center;
        display: inline-block;
        border-radius: 10px;
        background-color: #3A273E;
        // the applied padding moves the element down
        // I should probably restrucutre the html and change the styles
        // in order to center the element
        padding: 2px 0; 
    }
}


// Mails
.mails {
    background: $mails-bg;
    padding: 35px 25px 0;
    margin-left: 200px;
    overflow-y: scroll;

    // Search bar

    .search-bar {
        margin-bottom: 45px;
        color: darken($searchbar-text-color, 7%);
        font-size: 1.4rem;
        background-color: $searchbar-bg;
        padding: 10px 15px;
        border-radius: 3px;

        input {
            border: none;
            // color: #AEB2D1;
            background-color: transparent;
            color: dareken($searchbar-text-color, 7%);
        }

        span {
            float: right;
        }
    }

    .message {
        margin-bottom: 30px;
        background: $message-bg;
        border-radius: 5px;
        padding: 15px;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        position: relative;
        border-left: 2px solid transparent;
        cursor: pointer;

        &.active-message {
            border-color: $yellow !important;
        }

        &:hover {
            border-color: $yellow;
        }

        .message-info {
            display: flex;
        }

        .message-sender-img {
            margin-right: 15px;
        }

        .message-sender-img img {
            width: 45px;
            border-radius: 100%;
        }

        .sender-name {
            margin-bottom: 5px;
        }

        .message-timestamp {
            margin-left: auto;
            font-size: 1.1rem;
        }

        .message-preview {
            margin-top: 15px;
            color: #969698;
        }

        .message-status {
            font-size: 1.1rem;
        }

        .message-folder-indicator {
            height: 45px;
            width: 3px;
            background-color: #000;
            position: absolute;
            right: 0;
            top: 50px;
        }
    }
}

.mail-viewer {
    overflow-y: scroll;
    padding: 35px 25px;

    .controls {
        display: flex;
        justify-content: space-between;
        color: #AEB2D1;
        margin-bottom: 45px;
        border-bottom: 1px solid #AEB2D1;
        padding-bottom: 30px;

        button {
            background: transparent;
            border: none;
            font-size: 1.4rem;

            &:first-child {
                margin-right: 7px;
            }

            &:hover {
                color: $black;
                cursor: pointer;
            }
        }
    }

    .message-info {
        display: flex;
    }

    .message-sender-img {
        margin-right: 30px;
    }

    .message-sender-img img {
        width: 45px;
        border-radius: 100%;
    }

    .message-subject {
        font-size: 2.7rem;
        font-weight: 200;
        color: #000;
    }

    .sender-name {
        margin-bottom: 5px;
        font-size: 1.4rem;
    }

    p {
        font-size: 1.4rem;
        margin-bottom: 15px;
        color: #969698;
        line-height: 1.7;
    }

    .message-content {
        padding-left: 77px;
    }

    .message-timestamp {
        margin-left: auto;
        font-size: 1.3rem;
    }

    .open-message {
        padding-right: 45px;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;

        img {
            border-radius: 8px;
            width: 100%; // this is set so the last image can have 100% width
        }

        .gallery-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 15px;

            img {
                width: 282px;
            }

        }
    }  // end .image-gallery

    .message-footer {
        padding-left: 77px;
        margin-top: 10px;
    }
}